.head-text {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #166534;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 100px;
  border-color: #004b23;
  border-style: solid;
}

nav {
  list-style-type: none;
  margin-right: 10px;
  text-decoration: none;
  padding: 15px 20px;
  margin: 0px;
}
.navbar a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(245, 245, 245);
  text-decoration: none;
  padding: 10px;
  background-color: #288e28;
  border-radius: 10px;
  font-weight: bold;
  border-style: solid;
  border-color: #70e000;
}

.nav-container {
  background-color: #70e000;
  border-radius: 5px;
  border-color: #1e9005;
  border-style: solid;
  margin: 5px;
}

/*Overview*/

.container-overview {
  border-color: #01481c;
  background-color: #dad7cd;
  padding: 15px 20px;
  border-radius: 15px;
  background-size: 100px;
  margin: 50px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.container-overview h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1e9005;
  text-align: left;
}

.container-overview p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #000000;
}

/*Schedule*/

.container-evschedule h1 {
  color: #1e9005;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.container-evschedule {
  border-color: #01481c;
  background-color: #dad7cd;
  padding: 15px 20px;
  border-radius: 15px;
  background-size: 100px;
  margin: 50px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.container-evschedule li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.container-evschedule p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 50px;
}
/*Location*/

.container-location h1 {
  color: #1e9005;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.container-location {
  border-color: #01481c;
  background-color: #dad7cd;
  padding: 15px 20px;
  border-radius: 15px;
  background-size: 100px;
  margin: 50px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.container-location iframe {
  width: 1800px;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #00f600;
  border-style: solid;
}

/*Registration*/

.container-registration h1 {
  color: #1e9005;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.container-registration {
  border-color: #01481c;
  background-color: #dad7cd;
  padding: 15px 20px;
  border-radius: 15px;
  background-size: 100px;
  margin: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/*faq*/

.container-faq h1 {
  color: #1e9005;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.container-faq {
  border-color: #01481c;
  background-color: #dad7cd;
  padding: 15px 20px;
  border-radius: 15px;
  background-size: 100px;
  margin: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/*demo*/

.container-Demo h1 {
  color: #1e9005;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.container-Demo {
  border-color: #01481c;
  background-color: #dad7cd;
  padding: 15px 20px;
  border-radius: 15px;
  background-size: 100px;
  margin: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
